vinkeyboard {
    .keyboard {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0rem;
        height: 29.5rem;
        background-color: #D3D5DB;
        z-index: 99999999;
    }
    .keyboard .PressKey {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        color: black;
        text-align: center;
        line-height: 4rem;
        background-color: $gray_light;
        border-radius: 6px;
    }
    .header {
        height: 3.3rem;
        background-color: white;
        display: flex;
        justify-content: center;
    }
    .header {
        .camera {
            width: 4.9rem;
            height: 4.9rem;
            border-radius: 2.45rem;
            background-color: $vin-app-theme-color;
            margin-top: -2.45rem;
        }
    }
    .keys {
        height: 26.2rem;
        display: flex;
        flex-direction: column;
    }
    .keys {
        div {
            flex: 1;
            font-size: 1.8rem;
        }
        div.key-row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 0.7rem 0.45rem;
        }
        div.key-row a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.3rem;
            height: 100%;
            background-color: white;
            color: black;
            font-size: 2rem;
            border-radius: 0.4rem;
        }
        div.key-row .row-3 {
            padding: 0px 5.5rem;
            height: 100%;
            position: relative;
        }
        .key-tools {
            height: 5.9rem;
            display: flex;
            padding: 0.5rem;
        }
        .key-tools {
            div {
                flex: 1;
                border-radius: 1.2rem;
            }
            div:nth-child(1) {
                background-color: white;
                color: $vin-app-theme-color;
            }
            div:nth-child(2) {
                background-color: rebeccapurple;
                margin-left: 2rem;
                background-color: $vin-app-theme-color;
                color: white
            }
        }
        .voice,
        .delete {
            position: absolute;
            width: 4.2rem;
            height: 100%;
            background-color: white;
            border-radius: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color: $vin-app-theme-color;
        }
        .voice {
            left: 0.45rem;
        }
        .delete {
            right: 0.45rem;
        }
    }
}