page-home {
    .icon {
        font-size: 0.44rem;
    }
    .content {
        .home_icon {
            height: 4.07rem;
            display: flex;
            justify-content: center;
            padding-top: 1.31rem;
        }
        .home_icon img {
            height: 1.76rem;
        }
        .canvasC{
            border-radius: 22px;
            padding: 0 10px;
            background-color: white;
        }
        .canvas{
            // background-color: blue;
        }
        .vin_input {
            height: 0.88rem;
        }
        .takeiconC div{
            margin-top: 2.36rem;
            width: 2.0rem;
            height: 2.0rem;
            background-color: red;
            border-radius: 1.0rem;
        }
    }
    .content {
        background-color: $bg_2;
    }
}