page-home {
    .icon {
        font-size: 2.2rem;
    }
    .content {
        .home_icon {
            height: 20.35rem;
            display: flex;
            justify-content: center;
            padding-top: 6.55rem;
        }
        .home_icon img {
            height: 8.8rem;
        }
        .canvasC{
            border-radius: 22px;
            padding: 0 10px;
            background-color: white;
        }
        .canvas{
            // background-color: blue;
        }
        .vin_input {
            height: 4.4rem;
        }
        .takeiconC div{
            margin-top: 11.8rem;
            width: 10rem;
            height: 10rem;
            background-color: red;
            border-radius: 5rem;
        }
    }
    .content {
        background-color: $bg_2;
    }
}