<div class="input-container" #InputContainer>
    <div class="container">
        <div class="icon" [style.display]="leftIcon && edit ? 'block' : 'none'">
            <ion-icon name="search" class="seach-icon"></ion-icon>
        </div>
        <ion-input [placeholder]="_placeholder" #textInput type="text" clearInput="true" (blur)="onblur()" [(ngModel)]="value">

        </ion-input>
    </div>
    <div class="placehold_container" (click)="startInput($event)" [style.visibility]="edit ?'hidden' : 'visible'">
        <ion-icon name="search" class="seach-icon" [style.visibility]="centerIcon ?'visible' :'hidden'"></ion-icon>
        <p>{{placeholder}}</p>
    </div>
</div>