user-login {
    .toolbar-background {
        background-color: white !important;
        border-bottom-width: 0 !important;
    }
    ion-content {
        background-color: yellow !important;
    }
    ion-content {
        .title {
            margin-top: 1.68rem;
            text-align: center;
            font-size: 0.36rem;
            color: #757575;
        }
        .sub-title {
            margin-top: 0.55rem;
            font-size: 0.24rem;
            color: #949494;
            text-align: center;
        }
        .sub-title i {
            color: $vin-app-theme-color;
        }
        .inputC {
            display: flex;
            justify-content: center;
            margin-top: 0.38rem;
            font-size: 0.28rem;
        }
        .inputC {
            .password {
                margin-top: 0.3rem;
            }
            text-input {
                width: 5.7rem;
                display: block;
                overflow: hidden;
            }
        }
    }
}